--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision

ai2thor==2.1.0
fastapi
"uvicorn<0.41"
httpx
werkzeug
pillow
numpy
python-multipart
opencv-python-headless
scipy
networkx
natsort
pyquaternion
h5py
revtok
vocab
tqdm
hydra-core
